In [4]:
import pandas as pd
from pathlib import Path

In [27]:
BASE_DIR = Path("..")
RAW_DIR = BASE_DIR / "data" / "raw" / "yahoo_downloads"
PROCESSED_DIR = BASE_DIR / "data" / "processed"

PROCESSED_DIR.mkdir(parents=True, exist_ok=True)

In [6]:
for files in RAW_DIR.iterdir():
    if files.is_file() and files.suffix.lower() == ".csv":
        df = pd.read_csv(file)
        df = df.drop(1).reset_index (drop = True)
        df = df.drop(0).reset_index (drop = True)
        df = df.rename(columns = {"Price" : "Date"})

        df.to_csv(files, index=False)
        print(f"Fixed and saved: {files.name}")

Fixed and saved: HDFCBANK.csv
Fixed and saved: ICICIBANK.csv
Fixed and saved: INFY.csv
Fixed and saved: NIFTY50.csv
Fixed and saved: NIFTYMIDCAP50.csv
Fixed and saved: RELIANCE.csv
Fixed and saved: TCS.csv

In [19]:
prices_dfs = []

for files in RAW_DIR.iterdir():
    if files.is_file() or files.suffix.lower() == ".csv":
        df = pd.read_csv(files)
        df = df[['Date' , 'Close']].copy()
        df = df.rename(columns={"Close": files.stem})
        prices_dfs.append(df)

In [20]:
print("Number of dataframes:", len(prices_dfs))
print("RAW files:", [f.name for f in RAW_DIR.iterdir()])

Number of dataframes: 7
RAW files: ['.ipynb_checkpoints', 'HDFCBANK.csv', 'ICICIBANK.csv', 'INFY.csv', 'NIFTY50.csv', 'NIFTYMIDCAP50.csv', 'RELIANCE.csv', 'TCS.csv']

In [22]:
prices = prices_dfs[0]

for df in prices_dfs[1:]:
        prices = prices.merge(df, on = "Date" , how = 'inner')
    
prices.set_index("Date" , inplace=True)
prices.sort_index(inplace = True)
prices.head()

,HDFCBANK,ICICIBANK,INFY,NIFTY50,NIFTYMIDCAP50,RELIANCE,TCS
Date,,,,,,,
2020-01-06,587.698853,508.450470,634.869629,11993.049805,4639.006348,671.700745,1894.394775
2020-01-07,597.004761,505.742432,625.460693,12052.950195,4674.404297,682.034546,1899.043823
2020-01-08,595.441956,508.692352,617.125793,12025.349609,4686.603516,676.912354,1941.572632
2020-01-09,602.119507,528.374512,625.160034,12215.900391,4765.849609,692.502625,1906.361450
2020-01-10,607.471069,522.523132,634.268188,12256.799805,4787.448730,692.346008,1905.672852

In [24]:
prices.isna().sum()

HDFCBANK         0
ICICIBANK        0
INFY             0
NIFTY50          0
NIFTYMIDCAP50    0
RELIANCE         0
TCS              0
dtype: int64

In [25]:
prices.index.min(), prices.index.max()

('2020-01-06', '2020-06-29')

In [26]:
prices.shape

(118, 7)

In [28]:
prices.to_csv(PROCESSED_DIR / "close_prices.csv")