In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
BASE_DIR = Path.cwd().parent
prices = pd.read_csv(
    BASE_DIR / "data" / "processed" / "close_prices.csv",
    index_col=0,
    parse_dates=True
)

prices.head()

,HDFCBANK,ICICIBANK,INFY,NIFTY50,NIFTYMIDCAP50,RELIANCE,TCS
Date,,,,,,,
2020-01-06,587.698853,508.450470,634.869629,11993.049805,4639.006348,671.700745,1894.394775
2020-01-07,597.004761,505.742432,625.460693,12052.950195,4674.404297,682.034546,1899.043823
2020-01-08,595.441956,508.692352,617.125793,12025.349609,4686.603516,676.912354,1941.572632
2020-01-09,602.119507,528.374512,625.160034,12215.900391,4765.849609,692.502625,1906.361450
2020-01-10,607.471069,522.523132,634.268188,12256.799805,4787.448730,692.346008,1905.672852

In [3]:
returns = np.log(prices / prices.shift(1)) #log return
returns = returns.dropna()

returns.head()

,HDFCBANK,ICICIBANK,INFY,NIFTY50,NIFTYMIDCAP50,RELIANCE,TCS
Date,,,,,,,
2020-01-07,0.015710,-0.005340,-0.014931,0.004982,0.007602,0.015267,0.002451
2020-01-08,-0.002621,0.005816,-0.013416,-0.002293,0.002606,-0.007539,0.022148
2020-01-09,0.011152,0.037962,0.012935,0.015722,0.016768,0.022770,-0.018302
2020-01-10,0.008849,-0.011136,0.014464,0.003342,0.004522,-0.000226,-0.000361
2020-01-13,0.002569,-0.003059,0.046843,0.005918,0.008185,-0.002555,-0.010536

In [4]:
returns.shape

(117, 7)

In [5]:
returns.isna().sum()

HDFCBANK         0
ICICIBANK        0
INFY             0
NIFTY50          0
NIFTYMIDCAP50    0
RELIANCE         0
TCS              0
dtype: int64

In [6]:
returns.describe()

,HDFCBANK,ICICIBANK,INFY,NIFTY50,NIFTYMIDCAP50,RELIANCE,TCS
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,-0.001219,-0.003647,0.000033,-0.001290,-0.001065,0.001257,-0.000286
std,0.033600,0.043396,0.031169,0.027303,0.027366,0.037536,0.027462
min,-0.134754,-0.196597,-0.105797,-0.139038,-0.161268,-0.141033,-0.098830
25%,-0.015682,-0.019401,-0.011462,-0.007755,-0.008986,-0.014566,-0.011069
50%,-0.000241,0.002817,0.000781,-0.000529,0.002316,-0.000563,0.000925
75%,0.013426,0.020900,0.013568,0.010169,0.014026,0.016199,0.014533
max,0.109747,0.128942,0.113627,0.084003,0.062262,0.137307,0.093901

In [7]:
rolling_volatility = returns.rolling(window=21).std()
rolling_volatility.head()

            HDFCBANK  ICICIBANK  INFY  NIFTY50  NIFTYMIDCAP50  RELIANCE  TCS
Date
2020-01-07       NaN        NaN   NaN      NaN            NaN       NaN  NaN
2020-01-08       NaN        NaN   NaN      NaN            NaN       NaN  NaN
2020-01-09       NaN        NaN   NaN      NaN            NaN       NaN  NaN
2020-01-10       NaN        NaN   NaN      NaN            NaN       NaN  NaN
2020-01-13       NaN        NaN   NaN      NaN            NaN       NaN  NaN

In [8]:
PROCESSED_DIR = BASE_DIR / "data" / "processed"

returns.to_csv(PROCESSED_DIR / "daily_returns.csv")
rolling_volatility.to_csv(PROCESSED_DIR / "rolling_volatility.csv")