In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from pathlib import Path

In [2]:
BASE_DIR = Path.cwd().parent

abnormal_returns = pd.read_csv(
    BASE_DIR / "data" / "processed" / "abnormal_returns.csv",
    index_col=0,
    parse_dates=True
)

abnormal_returns.head()

            HDFCBANK  ICICIBANK      INFY  RELIANCE       TCS
Date
2020-03-16  0.006656  -0.008689 -0.026339  0.010354 -0.007117
2020-03-17 -0.000686  -0.061458 -0.029154  0.022182 -0.005723
2020-03-18 -0.052212   0.035491  0.012006  0.028294  0.037744
2020-03-19  0.044305  -0.017378  0.040491 -0.025075  0.012898
2020-03-20 -0.067413  -0.046179  0.014423  0.034195  0.052393

In [3]:
results = {}

for stock in abnormal_returns.columns:
    data = abnormal_returns[stock]
    
    t_stat, p_value = stats.ttest_1samp(data, 0)
    
    results[stock] = {
        "Mean_AR": data.mean(),
        "T_stat": t_stat,
        "P_value": p_value
    }

results_df = pd.DataFrame(results).T
results_df

            Mean_AR    T_stat   P_value
HDFCBANK  -0.003478 -0.474459  0.641584
ICICIBANK -0.008608 -1.202322  0.246731
INFY       0.001145  0.150562  0.882203
RELIANCE   0.011210  1.603998  0.128269
TCS        0.001864  0.324107  0.750055

In [4]:
CAR = pd.read_csv(
    BASE_DIR / "data" / "processed" / "CAR.csv",
    index_col=0,
    parse_dates=True
)

final_CAR = CAR.iloc[-1]

final_CAR

HDFCBANK    -0.059120
ICICIBANK   -0.146335
INFY         0.019462
RELIANCE     0.190577
TCS          0.031688
Name: 2020-04-09 00:00:00, dtype: float64